body {
	padding: 20px 0;
}

img {
	max-width: 100px;
	height: 100px;
}

.card {
    width: 200px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__place {
	width: 20px;
	height: 20px;
	background-color: lightblue;
	border-radius: 50%;
	text-align: center;
}

.slider {
	max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card__name {
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	margin-top: 30px;
	text-align: center;
}

th,
td {
	padding: 10px;
	min-width: 120px;
	text-align: center;
}

.table__row:nth-child(even) {
	background-color: lightgray;
}

.table__row:nth-child(odd) {
	background-color: lightblue;
}

.table {
	max-width: 1000px;
	margin: 0 auto;
}

.table__wrapper {
	position: relative;
}

.card__id {
	display: none;
}

.row__id {
	display: none;
}

.row__modal {
	color: white;
	max-width: 180px;
	height: auto;
	position: absolute;
	background-color: gray;
	right: 10px;
	top: 50%;
	border-radius: 5px;
	padding: 10px;
}

.row:hover {
	background-color: rgba(45, 45, 45, 0.3);
}

p {
	text-align: center;
}

.search__wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.search__input,
.search__select {
	font-size: 20px;
	padding: 10px;
	margin-bottom: 20px;
}
