body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size:24px;
}

h2 {
	font-size:22px;
}

p {
	font-size:16px;
}

section p, section h2 {
	margin-left:30px;

}

.columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
	max-width: 1375px;
	align-content: flex-start;
	padding:2px;
}

.columns section {
	height: 370px;
	background-color: lightyellow;
	background-position: center;
	background-size: cover;

	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 25%;
	flex-grow:1;
}

.columns section:first-child {
	background-image: url(images/1.jpg);
	flex-grow:2;
	width: 50%;
}

.columns section:nth-child(2) {
	background-image:url(images/2.jpg);
}

.columns section:nth-child(3) {
	background-image:url(images/3.jpg);
}

.columns section:nth-child(4) {
	background-image:url(images/4.jpeg);
}

.columns section:nth-child(5) {
	background-image:url(images/5.jpg);
}

.columns section:nth-child(6) {
	background-image:url(images/6.jpg);
}

.columns section:last-child {	
	background-image:url(images/7.jpg);
}

div.wrapper {
	margin-top: 1px;
	margin-right: 1px;
}