body {
    padding: 5em;
  }
  
.option {
    display: block;
    margin-bottom: 1em;
}

.check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check {
    padding-left: 50px;
}

.check__box {
    position: absolute;
    margin-left: -50px;
    margin-top: -2px;
    width: 40px;
    height: 25px;
    box-shadow: 0 0 0 2px gray;
    border-radius: 15px;
    background-color: white;
}

.check__box::after {
    position: absolute;
    top: 3px;
    left: 5px;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
}

.check__input:checked + .check__box::after {
    background-color: cyan;
    left: 17px;
}

.check__input:focus + .check__box {
    box-shadow: 0 0 0 2px gray, 0 0 0 4px lightskyblue;
}

.check__input:checked:focus + .check__box {
    box-shadow: 0 0 0 2px gray, 0 0 0 4px lightskyblue;
}

.check__input:disabled + .check__box::after {
    background-color: gray;
    opacity: 0.3;
}

.check__input:checked:disabled + .check__box::after {
    background-color: cyan;
    left: 17px;
    opacity: 0.3;
}