@font-face {
	font-family: "montserrat";
	src: url("fonts/montserrat-thin.woff2") format("woff2"),
		url("fonts/montserrat-thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "montserrat";
	src: url("fonts/montserrat-regular.woff2") format("woff2"),
		url("fonts/montserrat-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "montserrat";
	src: url("fonts/montserrat-bold.woff2") format("woff2"),
		url("fonts/montserrat-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

.option--thin {
    font-family: 'montserrat';
    font-weight: 100;
}

.option--regular {
    font-family: 'montserrat';
    font-weight: 400;
}

.option--bold {
    font-family: 'montserrat';
    font-weight: 700;
}


body {
    padding: 5em;
    font-family: Verdana, sans-serif;
}

.option {
	display: block;
	margin-bottom: 1em;
}

.check__input {
	position: absolute;
	width: 0;
    height: 0;
    opacity: 0;
}

.check {
	padding-left: 50px;
}

.check__box {
	position: absolute;
	margin-left: -50px;
	margin-top: -2px;
	width: 40px;
	height: 25px;
	box-shadow: 0 0 0 2px gray;
	border-radius: 15px;
	background-color: white;
}

.check__box::after {
	position: absolute;
	top: 3px;
	left: 5px;
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: gray;
}

.check__input:checked + .check__box::after {
	background-color: cyan;
	left: 17px;
}

.check__input:focus + .check__box {
	box-shadow: 0 0 0 2px gray, 0 0 0 4px lightskyblue;
}

.check__input:checked:focus + .check__box {
	box-shadow: 0 0 0 2px gray, 0 0 0 4px lightskyblue;
}

.check__input:disabled + .check__box::after {
	background-color: gray;
	opacity: 0.3;
}

.check__input:checked:disabled + .check__box::after {
	background-color: cyan;
	left: 17px;
	opacity: 0.3;
}
