body {
    padding: 20px 0;
}

.slick-initialized .slick-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
}

img {
	max-width: 100px;
	height: 100px;
}

.card__place {
	width: 20px;
	height: 20px;
	background-color: lightblue;
	border-radius: 50%;
	text-align: center;
}

.slider {
	max-width: 800px;
	margin: 0 auto;
}

.slick-next:before,
.slick-prev:before {
	color: black;
}

.card__name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 80px;
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	margin-top: 30px;
	text-align: center;
}

th,
td {
	padding: 10px;
    min-width: 120px;
    text-align: center;
}

.table__row:nth-child(even) {
	background-color: lightgray;
}

.table__row:nth-child(odd) {
	background-color: lightblue;
}

.table {
    max-width: 1000px;
    margin: 0 auto;
}

.table__wrapper {
	position: relative;
}

.card__id {
	display: none;
}

.row__id {
	display: none;
}

.row__modal {
	color: white;
	max-width: 180px;
	height: auto;
	position: absolute;
	background-color: gray;
	right: 10px;
	top: 50%;
	border-radius: 5px;
	padding: 10px;
}