.menu {
  margin-left: 170px;
  min-width: 474px;
  
  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    margin-right: 40px;
  }

  &__item:last-child {
    margin-left: auto;
    margin-right: 0;
  }

  &__link {
    text-transform: uppercase;
    color: $color-white;
    opacity: 0.5;

    &--active {
      opacity: 1;
    }
  }

  &__button {
    margin-right: 0;
    margin-left: auto;
  }

}

@media (max-width: 960px) {
  .menu {
    margin-left: 20px;
    min-width: 0;
  }
}

@media (max-width: 720px) {
  .menu {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;

    &__button {
      margin-left: 0;
    }
    &__list {
      flex-direction: column;
    }
    &__item {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__item:last-child {
      margin-left: 0;
    }
  }
}