ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

.container {
  max-width: 1200px;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__wrapper {
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
}

.header-menu__item {
  margin-right: 25px;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link {
  font-size: 12px;
  line-height: 2;
  color: #282828;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.header-menu__link--active {
  color: #20cdc7
}

.main {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

.contacts__wrapper {
  justify-content: space-between;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section__title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3px;
}

.contacts__heading {
  margin-bottom: 29px;
}

.section__description {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Nunito Sans', sans-serif;
  color: #787878;
  letter-spacing: 0.08px;
}

.contacts__description {
  margin-bottom: 30px;
}

.contact-list {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.08px;
}

.contact-list__item {
  margin-bottom: 14px;
}

.contact-list__contact {
  color: #787878;
  margin: 0;
}

.contact-list__link {
  text-decoration: none;
  color: #787878;
}

.contact-list__contact span {
  font-weight: 700;
  color: #171717;
}


.form {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.form__input {
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  padding: 12px 22px;
  border: none;
  background-color: #ffffff;
  color: #787878;
}

.form__input-wrapper {
  margin-bottom: 31px;
}

.form__input-wrapper:nth-child(1) {
  margin-right: 30px;
}

.form__input-wrapper:nth-child(1),
.form__input-wrapper:nth-child(2) {
  flex-grow: 1;
}

.form__input-wrapper:nth-child(3),
.form__input-wrapper:nth-child(4) {
  width: 100%;
}

.form__input--textarea {
  resize: none;
}

.form__button {
  font-size: 12px;
  background-color: #10c9c3;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.map {
  position: relative;
  margin: 0 auto;
  background-color: #e0e0e0;
  max-width: 1170px;
  min-height: 470px;
}

.map::after {
  position: absolute;
  left: 633px;
  top: 184px;
  content: "";
  width: 22px;
  height: 32px;
  background-image: url('img/pointer.png')
}

.footer {
  padding: 100px;
  background-color: #141414;
  letter-spacing: 0.08px;
}

.footer__heading {
  margin: 0;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.footer__description {
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #bcbcbc;
}

.footer__link {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #bcbcbc;
  text-decoration: none;
}

.footer__link:hover {
  color: #bcbcbc;
  text-decoration: none;
}

.footer__contacts {
  text-align: center;
}