.hero {
  background: linear-gradient(to bottom, transparent, white), url(../../img/hero.jpg);
  background-position: 0 -200px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px;
}

.header {
  margin-bottom: 130px;
  padding: 55px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__logo {
  padding-right: 40px;
  border-right: 1px solid black;
}

.header__nav-list,
.social__list,
.features__list {
  @include list-style-reset;
}

.header__nav {
  margin-left: 40px;
}

.header__nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__nav-item {
  margin: 0 24px;
}

.header__nav-item:first-child {
  margin-left: 0;
}

.header__nav-link {
  color: $font-color-gray;
  text-decoration: none;
}

.header__nav-link:hover {
  text-decoration: underline;
}

.header__social {
  margin-left: auto;
}

.social {
  width: 130px;
  height: 30px;
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  background-color: $font-color-white;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link--f {
  background-image: url('../../img/s-facebook.png')
}

.social__link--t {
  background-image: url('../../img/s-twitter.png')
}

.social__link--g {
  background-image: url('../../img/s-google.png')
}

.subscription {
  margin-bottom: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscription__heading {
  font-family: "Eternal Fascination", "Arial", sans-serif;
  font-size: 36px;
  line-height: 55px;
  color: $font-color-black;
  margin-bottom: 33px;
}

.subscription__subheading {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: $font-color-subheading;
  margin-bottom: 60px;
}

.subscription__form-wrapper {
  width: 770px;
  height: 130px;
  background-color: $font-color-white;
  padding: 40px;
}

.subscription__form {
  display: flex;
  justify-content: space-between;
}

.subscription__form input[type=text] {
  width: 250px;
  height: 50px;
  padding: 20px;
  background-color: $input-gray-light;
  border: 1px solid transparent;
}

.subscription__form input[type=text]:active {
  border: 1px solid $input-gray-dark;
}

.subscription__form input::placeholder {
  color: $input-gray-dark;
}

.subscription__form button[type=button] {
  width: 150px;
  height: 50px;
  border: none;
  background-color: $button-subscripe;
  text-transform: uppercase;
  color: $font-color-white;
  font-weight: 700;
  cursor: pointer;
}

.features__list {
  display: flex;
  justify-content: space-between;
}

.features__list-item {
  max-width: 325px;
  padding-top: 95px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50% 0, 50% 20%;
}

.features__list-heading {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: $font-color-black;
  letter-spacing: 0.025em;
  margin-bottom: 10px;
}

.feature__list-descr {
  text-align: center;
  color: $font-color-gray-another;
  line-height: 28px;
  letter-spacing: 0.025em;
}

.features__list-item--mobile {
  background-image: url("../../img/f-mobile.png"),
                    url("../../img/separator.png");
}

.features__list-item--retina {
  background-image: url("../../img/f-retina.png"),
  url("../../img/separator.png");
}

.features__list-item--doc {
  background-image: url("../../img/f-well.png"),
  url("../../img/separator.png");
}
