.price {
  background-color: #fafafa;
  padding-top: 98px;
  padding-bottom: 100px;
  &__heading {
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $font-color-headings;
    text-align: center;
    margin-bottom: 8px;
  }
  &__subheading {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: $font-color-gray-another;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-bottom: 150px;
  }
  &__list {
    @include list-style-reset;
    display: flex;
    justify-content: space-between;
    color: #696868;
  }
  &__list-item {
    max-width: 310px;
    padding: 25px 40px;
    padding-top: 25px;
    padding-bottom: 55px;
    background-color: white;
    border: 5px solid #e2e2e2;
    text-align: center;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.35);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  &__list-item:hover {
    transform: scale(1.05);
  }
  &__list-price {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 82px;
  }
  &__list-type {
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
  }
  &__list-period {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
  }
  &__list-descr {
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 48px;
  }
  &__list-none{
    color: #aeadad;
    text-decoration: line-through;
  }
  &__list-button {
    display: block;
    max-width: 210px;
    height: 52px;
    border: 2px solid #395e66;
    color: #395e66;
    font-size: 16px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
  }
  &__list-button:hover {
    background-color: #395e66;
    color: white;
  }
}

.price__list-item--active {
  border: 5px solid #f9e074;
  position: relative;
}

.price__list-item--active::after {
  content: "\2605";
  position: absolute;
  width: 40px;
  height: 42px;
  background-color: #f9e074;
  top: 0;
  right: 25px;
  z-index: 2;
  color: white;
  font-size: 20px;
  line-height: 38px;
}