.projects {
  @include section;
  padding-left: 20px;
  padding-right: 20px;
  &__heading {
    @include section__heading;
    margin-bottom: 125px;
  }
  &__list {
    @include list-style-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__list-item {
    max-width: 230px;
  }
  &__list-company {
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__list-work {
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
    text-transform: none;
  }
}