.subscribe {
  @include section;
  display: flex;
  justify-content: center;
  align-items: center;
  &__heading {
    @include section__heading;
    margin-bottom: 60px;
  }
  &__wrapper {
    position: relative;
  }
}

.subscribe__input {
  min-width: 450px;
  height: 60px;
  padding: 20px;
  background-color: white;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  padding-right: 140px;
}

.subscribe__button {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 120px;
  height: 45px;
  background-color: #395e66;
  border-radius: 4px;
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
}