.contacts__wrapper {
  justify-content: space-between;
  padding: 90px 0;
}

.section__title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3px;
}

.contacts__heading {
  margin: 0;
  margin-bottom: 30px;
}

.section__description {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Nunito Sans', sans-serif;
  color: #787878;
  letter-spacing: 0.08px;
}

.contacts__description {
  margin: 0;
  margin-bottom: 26px;
}

.contact-list {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.2px;
}

.contact-list__item {
  margin-bottom: 14px;
}

.contact-list__contact {
  color: #787878;
  margin: 0;
}

.contact-list__link {
  text-decoration: none;
  color: #787878;
}

.contact-list__contact span {
  font-weight: 700;
  color: #171717;
}