.footer {
  padding: 95px 0;
  background-color: #141414;
  letter-spacing: 0.08px;
}

.footer__heading {
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.footer__description {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #bcbcbc;
}

.footer__contacts {
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: center;
}

.footer__menu-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer__link {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #bcbcbc;
  text-decoration: none;
}

.footer__company,
.footer__contacts,
.footer__menu-wrapper {
  margin-bottom: 20px;
}

@media (max-width: 720px) {
  .footer__company {
    text-align: center;
  }
}
