html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}