.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
}

.header-menu__item {
  margin-right: 25px;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link {
  font-size: 12px;
  line-height: 2;
  color: #282828;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.header-menu__link--active {
  color: #20cdc7
}