.card {
  display: inline-block;
  max-width: 200px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.card__button {
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  color: white;
  background-color: blue;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.card__button:hover {
  background-color: lightseagreen;
}

.modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background:rgba(0,0,0,.8);
  left: 0;
  top: 0;
}

.modal--opened {
  display: block;
}

.modal__body {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 500px;
  position: relative;
  padding: 20px;
  background-color: lightseagreen;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
}

.modal__close::after,
.modal__close::before {
  position: absolute;
  content: '';
  width: 22px;
  height: 4px;
  background-color: black;
  top: 8px;
  left: -1px;
}

.modal__close::after {
  transform: rotate(45deg);
}

.modal__close::before {
  transform: rotate(-45deg);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
