html {
    box-sizing: border-box;
  }
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.form {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form__input {
    padding: 20px;
    border: 1px solid rgba(100,100,100,0.7);
    border-radius: 10px;
}

.form__input:focus ~ .form__input-placeholder,
.form__input:valid ~ .form__input-placeholder {
    top: 10px;
    color: gray;
    transform: scale(0.9);
}

.form__input-wrapper,
.form__select-wrapper {
    position: relative;
    padding-top: 20px;
    margin-bottom: 20px;
}

.form__input-wrapper,
.form__select-wrapper {
    flex-basis: 50%;
}

.form__input-placeholder {
    position: absolute;
    top: 36px;
    left: 20px;
    transition: top 0.2s ease-out;
    background-color: white;
    padding: 0 2px;
}