html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 20px;
}

.form {
	margin-top: 10px;
	margin-left: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.form__input {
	padding: 20px;
	border: 1px solid rgba(100, 100, 100, 0.7);
	border-radius: 10px;
}

.form__input:focus ~ .form__input-placeholder,
.form__input:valid ~ .form__input-placeholder {
	top: 10px;
	color: gray;
	transform: scale(0.9);
}

.form__input-wrapper,
.form__select-wrapper {
	position: relative;
	padding-top: 20px;
	margin-bottom: 20px;
}

.form__input-wrapper,
.form__select-wrapper {
	flex-basis: 50%;
}

.form__input-placeholder {
	position: absolute;
	top: 36px;
	left: 20px;
	transition: top 0.2s ease-out;
	background-color: white;
	padding: 0 2px;
}

.table {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.table__row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.table__col {
	flex-grow: 1;
}

@media (max-width: 800px) {
	.table {
		background-color: tomato;
	}
}

.main {
    margin-left: 200px;
}

.nav {
    position: fixed;
	height: 100vh;
	width: 200px;
	flex-shrink: 0;
	background-color: lightskyblue;
}

.nav__list {
	width: 100%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.nav__item {
	margin-bottom: 20px;
}

.nav__link-ico {
	margin-bottom: 10px;
}

.nav__link {
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	text-decoration: none;
}

.nav__link:hover {
	text-decoration: underline;
}

.nav__link:visited {
	color: black;
}

.nav__link-text {
	text-align: center;
}

.nav__item:hover {
	background-color: lightblue;
}

.content {
	display: flex;
}

@media (max-width: 800px) {
	.content {
		flex-direction: column;
    }
    .main {
        margin-left: 0;
        margin-top: 100px;
    }
	.nav {
		height: auto;
        width: 100%;
        z-index: 1;
    }
    .nav__item {
        margin-bottom: 0;
    }
	.nav__list {
        flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
    }
}

@media (max-width: 550px) {
    .form__input-wrapper,
    .form__select-wrapper {
        flex-basis: 100%;
    }
    .form__input {
        width: 100%;
    }
    .main {
        margin-top: 200px;
    }
}