.section {
  padding: 114px 0; }

.section__heading {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  text-align: center;
  margin-bottom: 20px; }

.section__description {
  margin: 0 auto;
  max-width: 512px;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  color: #787878; }

.subsection {
  padding: 100px 0; }

.subsection__heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3px; }

.subsection__description {
  margin: 0;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Nunito Sans', sans-serif;
  color: #787878;
  letter-spacing: 0.08px; }

.button {
  font-size: 12px;
  background-color: #10c9c3;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1.2px;
  cursor: pointer; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  margin: 0; }

.container {
  max-width: 1200px; }

.container-fluid {
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.header {
  padding-top: 40px;
  padding-bottom: 33px; }

.header-menu {
  display: flex;
  justify-content: flex-end; }

.header-menu__item {
  margin-right: 25px; }

.header-menu__item:last-child {
  margin-right: 0; }

.header-menu__link {
  font-size: 12px;
  line-height: 2;
  color: #282828;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1.2px; }

.header-menu__link--active {
  color: #20cdc7; }

.main {
  background-color: #f5f5f5; }

.statistics {
  padding: 90px 0;
  color: #ffffff;
  background-color: #10c9c3;
  font-family: 'Montserrat', sans-serif; }

.about {
  color: #ffffff;
  background-color: #3e3e3e; }

.about-me {
  padding: 132px 0;
  padding-left: 12px; }

.about-me__wrapper {
  max-width: 454px;
  margin-left: 80px; }

@media (max-width: 992px) {
  .about-me__wrapper {
    margin-left: 0;
    text-align: center; } }

.contacts__wrapper {
  justify-content: space-between;
  padding: 90px 0; }

.contact-list {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.2px; }

.contact-list__item {
  margin-bottom: 14px; }

.contact-list__contact {
  color: #787878;
  margin: 0; }

.contact-list__link {
  text-decoration: none;
  color: #787878; }

.contact-list__contact span {
  font-weight: 700;
  color: #171717; }

.form {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap; }

.form__input {
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  padding: 12px 22px;
  border: none;
  background-color: #ffffff;
  color: #787878; }

.form__input-wrapper {
  margin-bottom: 31px; }

.form__input-wrapper:nth-child(1) {
  margin-right: 30px; }

.form__input-wrapper:nth-child(1),
.form__input-wrapper:nth-child(2) {
  flex-grow: 1; }

.form__input-wrapper:nth-child(3),
.form__input-wrapper:nth-child(4) {
  width: 100%; }

.form__input--textarea {
  resize: none; }

.map__object {
  position: relative;
  margin-bottom: 100px;
  background-color: #e0e0e0;
  min-height: 470px; }

.map__object::after {
  position: absolute;
  left: 54%;
  top: 39%;
  content: "";
  width: 22px;
  height: 32px;
  background-image: url("../img/pointer.png"); }

.gallery__row {
  margin: 0; }

.gallery__col {
  padding: 0;
  min-width: 300px;
  min-height: 300px; }

.gallery__col:nth-child(even) {
  background-color: #838383; }

.gallery__col:nth-child(odd) {
  background-color: #dddddd; }

.gallery__wrapper {
  padding: 0; }

@media (max-width: 570px) {
  .fact {
    text-align: center; } }

.fact__ico {
  display: inline-block;
  min-height: 41px;
  min-width: 44px;
  margin-right: 24px; }

.fact__description {
  display: inline-block;
  min-width: 170px; }

.fact__number {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.5px; }

.fact__category {
  font-size: 12px;
  line-height: 2.5;
  letter-spacing: 1.2px;
  text-transform: uppercase; }

.fact__ico {
  background-repeat: no-repeat;
  background-position: center; }

.fact--projects .fact__ico {
  background-image: url("../img/ico-bag.png"); }

.fact--hours .fact__ico {
  background-image: url("../img/ico-clock.png"); }

.fact--feedbacks .fact__ico {
  background-image: url("../img/ico-star.png"); }

.fact--clients .fact__ico {
  background-image: url("../img/ico-like.png"); }

.cta {
  background-color: #ffffff;
  text-align: center; }

.footer {
  padding: 95px 0;
  background-color: #141414;
  letter-spacing: 0.08px; }

.footer__heading {
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.18px; }

.footer__description {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #bcbcbc; }

.footer__contacts {
  text-align: center; }

.footer__social {
  display: flex;
  justify-content: center; }

.footer__menu-wrapper {
  display: flex;
  justify-content: space-around; }

.footer__link {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #bcbcbc;
  text-decoration: none; }

.footer__company,
.footer__contacts,
.footer__menu-wrapper {
  margin-bottom: 20px; }

@media (max-width: 720px) {
  .footer__company {
    text-align: center; } }
